body {
  font-family: "Arial", sans-serif;
  background-color: #f8f9fa;
}

.navbar {
  margin-bottom: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}